.form-group{
  margin-bottom: 0;
}

#recipeForm input[type='text'],input[type='number']{
  outline: none;
  border-radius: 22px;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text{
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  width: 37px;
}

#submit_btn{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-right:40%;
  border-radius: 17px;
}

