

<div class="row">
  <div class="col-4"></div>
  <div class="col-4" id="form_wrapper">
    <h1 class="text-muted display-4" style=" margin-left: 19%; margin-top: 7%">Login</h1>
    <div class="login-form" >

      <form action="/" method="post">
        <div class="form-group row">
          <input type="text" id="loginEmail" name="loginEmail" placeholder="Email" required="">
        </div>
        <div class="form-group row">
          <input type="password" id="loginPassword" name="loginPassword" placeholder="Password" required="">
        </div>
        <div class="form-group row">
          <input type="submit" value="Login" id="login_btn" onclick="window.location='/create';" >
        </div>
        <div class="recover">
          <small class="text-muted">Forgot <a href="#" style="color:indigo">Username/Password</a> ?</small>
        </div>
        <div id="register_link" class="row">
             <a id ="register_ref"href="#" >Create your account </a>
            <img src="../../../assets/images/arrow_right.png">
        </div>
      </form>
    </div>
  </div>
  <div class="col-4"></div>

</div>
