input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

#loginPassword{
  background-image: url('../../../assets/images/password.png'); /* Add a search icon to input */
  background-position: 2% 50%; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 70%; /* Full-width */
  height: 70%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  border-radius: 22px;
  outline: none;
  background-color: lightgray;
}

#loginEmail{
  background-image: url('../../../assets/images/email.png'); /* Add a search icon to input */
  background-position: 2% 50%; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 70%; /* Full-width */
  height: 70%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  border-radius: 22px;
  outline: none;
  background-color: lightgray;
}

#login_btn{
  width: 70%;
  height: 70%;
  font-size: 16px;
  border : 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 22px;
  padding: 12px 20px 12px 40px;
  outline:none;
  background-color: indigo;
  color: white;
}

.login-form{
  margin-top: 2%;
  margin-left: 19%;
}

.recover{
  padding-left: 42%;
}

#form_wrapper{
  margin-top: 10%;
  /*
  outline-style: solid;
  outline-width: thin;
  outline-color: lightgray;
  outline-offset: 10px;
  */
}

#guest_btn{
  border : 1px solid #ddd;
  background-color: indigo;
  color:white;
  outline: none;
  border-radius: 10px;
  width:30%;
  height: 30%;
  font-size: 1vw;
  margin-left: 28%;
  margin-top: 38%;
}

#register_link{
  margin-top: 5%;
}

#register_ref {
  color:gray;
  margin-left: 19%;
}

#register_ref:hover{
  color:indigo;
}
